html { 
    background: url(/img/bgimg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body
{width:100%;
max-width: 1088px;



margin:0 auto;
overflow: visible;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'lato'
}

.livedesktop{
    width: 95%;
    height:95%;
}
.gap{
    height: 50px;
}

.auction{
    max-width: 100%;
    margin-top:12%;
}

input{

    display: block;
    height: 53px;
    margin-top: 23px;
    width: 100%;
    border: 1px solid #AEACAC;
    padding : 8px;
}

.form{
    display: block;
}

input.form-submit{
    border: none;
    height:55px;
    margin-top: 55px;
    cursor: pointer;
    background-color: #F1593A;
    border: none;
    color: white;
    font-weight: 700;
    font-size:20px;
    
}

input.form-name{
    display: inline-block;
    width:265px;
    padding-left:10px;
}

input:nth-child(2){
    margin-left: 8px;

}

input.form-location{
    display: inline-block;
    width:265px;
    padding-left:10px;
}

input:nth-child(6){
    margin-left: 8px;
}


/* media query */
@media only screen and (max-width: 600px) {

    .auction{
        margin-top:25px;
    }
    .livedesktop{
        width:80%;
        height:80%;
        margin-left: 25px;
    }

    input{
        width:90%;
        margin-top:2%;
        height: 40px;
        border: 1px solid #AEACAC;
        padding : 5px;
        margin-left: 7px;
        }

       

        input.form-name,input.form-location{
    
            width:90% !important;

        }


        input:nth-child(2){
            margin-left: 33px !important;
        
        }

        input:nth-child(6){
            margin-left: 33px !important;
        
        }

        

       
       
input.form-submit{
    border: none;
}

}


@media only screen and (max-width: 1024px) {

    .auction{
        margin-top: 15%;
    }

    .livedesktop{
        width:80%;
        height:80%;
        margin-left: 45px;
    }

    input{
        width:90%;
        margin-top:3%;
        margin-left:5px;
        height: 40px;
        border: 1px solid #AEACAC;
        padding : 5px;
        }

        input.form-submit{
            border: none;
        }

        input.form-name{
            display: inline-block;
            width:224px;
            padding-left:10px;
        }
        
        input:nth-child(2){
            margin-left: 8px;
        
        }
        
        input.form-location{
            display: inline-block;
            width:224px;
            padding-left:10px;
        }
        
        input:nth-child(6){
            margin-left: 8px;
        }

        
input.form-submit{
border: none;
margin-top: 60px;
height: 55px;
}

.form{margin: 0 auto}
    
}


@media only screen and (max-width: 768px) {

.auction{
        margin-top: 15%;
       
    }

    .livedesktop{
        width:80%;
        height:80%;
        margin-left: 25px;
        margin-top: 20px;
    }

    input{
        width:90%;
        margin-top:2%;
        margin-left:20px;
        height: 40px;
        border: 1px solid #AEACAC;
        padding : 5px;
        }

        input.form-submit{
            border: none;
            
            height: 55px;
        }

        input.form-name,input.form-location{
    
            width:90% !important;

        }

        
        input:nth-child(2){
            margin-left: 18px !important;
        
        }

        input:nth-child(6){
            margin-left: 18px !important;
        
        }
        


    }


